.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.label {
  display: flex;
  width: 360px;
  justify-content: space-between;
}
.button {
  width: 100px;
  margin: 0 auto;
}
